.addsong {
    flex: 2;
    position: relative;
    background-color: white;
    height: calc(100% - 6rem);
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    overflow-y: scroll;
    align-items: center;
}

.addsong-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
    max-width: 24rem;
    margin-top: auto;
}

.addsong-container h2 {
    line-height: 1.75rem;
}

.add-form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.add-form-err {
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 500;
    color: red;
}

.add-form-element {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.add-form label {
    font-size: 0.9rem;
    font-weight: 500;
    color: #222;
}

.add-form input {
    padding: 0.75rem 1.5rem;
    font-size: 0.9rem;
    border-radius: 1rem;
    border: 2px solid #222;
}

.add-form input:focus {
    outline: 0px;
}

.add-form button {
    padding: 0.75rem 2rem;
    border-radius: 0 2rem 2rem 2rem;
    background-color: chartreuse;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 0.25rem;
    border: 3px solid black;
}

.add-form-status {
    font-weight: 500;
    font-size: 2rem;
}

@media screen and (max-width: 896px) {
    .addsong {
        padding: 2rem 1rem;
    }
}
