@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.brand {
    background-color: #111;
    color: white;
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.brand h1 {
    font-size: 1.5rem;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    line-height: 1.5rem;
}

.wordmark {
    text-decoration: none;
    color: white;
}

.credits {
    font-size: 1rem;
    font-style: italic;
}

.credits a {
    color: #ffe900;
    font-weight: 800;
}

@media screen and (max-width: 896px) {
    .brand {
        flex-direction: row;
        flex: none;
        padding: 1rem;
        padding-bottom: 1.25rem;
    }

    .credits {
        display: none;
    }
}
