.onboarding {
    flex: 2;
    display: flex;
    align-items: end;
    background-color: white;
    height: calc(100% - 6rem);
}

.onboarding-container {
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
    align-items: center;
    overflow-y: scroll;
}

.on-container {
    width: 100%;
    max-width: 24rem;
    margin-top: auto;
}

.on-container h1 {
    margin-bottom: 1rem;
}

.on-form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.on-form-element {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.on-container label {
    font-size: 0.9rem;
    font-weight: 500;
    color: #222;
}

.on-container input {
    padding: 0.75rem 1.5rem;
    font-size: 0.9rem;
    border-radius: 1rem;
    border: 2px solid #222;
}

.on-container input:focus {
    outline: 0px;
}

.on-container button {
    padding: 0.75rem 2rem;
    border-radius: 0 2rem 2rem 2rem;
    background-color: aquamarine;
    font-weight: 700;
    font-size: 1rem;
    border: 3px solid black;
}

.on-form-err {
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 500;
    color: red;
}

hr {
    border-color: #fafafa;
    background-color: #fafafa;
    opacity: 0.2;
    border-width: 2px;
    width: 100%;
    max-width: 24rem;
}

.on-instead {
    text-align: center;
    width: 100%;
    max-width: 24rem;
}

.on-instead-long {
    padding-bottom: 2rem;
}

.on-instead span {
    font-weight: 500;
    font-size: 1rem;
    color: #555555;
}

.on-instead a {
    font-weight: 700;
    color: blue;
}

@media screen and (max-width: 896px) {
    .on-instead-long {
        padding-bottom: 0;
    }
}
